
@model IQueryable<aspnet.Models.Usuario>
@{
    ViewBag.Subtitulo = "Usuários";
}


<h1 class="text-primary">Usuários</h1>
<hr>
<a href="/Home/Cadastrar" class="btn btn-primary">Novo Usuário</a>
@if(TempData.ContainsKey("Excluiu"))
{
    var excluiu = (bool)TempData["Excluiu"];
    if(excluiu)
    {
        <partial name="_MensagemInfo" model="@("Usuario excluido com sucesso.")"></partial>
    }
    else
    {
        <partial name="_MensagemError" model="@("Não Foi Possivel Excluir o Usuário.")"></partial>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Cadastrar" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section LogoPagina{
    <img src="/img/usuarios.png" height="24" class="d-inline-block align-text-bottom">                
}